<md-content layout="column">
  <div class="game">
    <div flex layout="row" layout-wrap>
      <md-card flex="70" flex-md="95" flex-sm="95" md-whiteframe-z5>
        <!--         <div flex="100">
          <span class="md-title">Dying Light</span>
        </div> -->
        <div layout="row">
          <div layout="column" layout-align="end center end" layout-fill flex="40" class="game-cover" ng-style="{'background-image': 'url(assets/gamecovers/dying-light.jpg)'}">
            <div flex class="md-hue-3 md-padding"></div>
            <div class="game-cover-base" layout-padding>
            <div>Our Score:</div>
              <span class="our-score"> 86% </span>
            </div>
          </div>
          <div flex>
            <md-card-content>
              <div layout-padding>
                <p>
                  Our Score: In Progress 64.0% Wtf is this score? Percentage is based on Pros over total Pros and Cons. Results may not reflect final score until game is completed. 16 Pros9 Cons Review Time: In Progress Ah dang, we detect you're using Ad-block Ads help pay the bills. "Would you kindly" disable your ad-block, or consider donating to support us.
                </p>
              </div>
            </md-card-content>
          </div>
        </div>
      </md-card>
      <div flex flex-md="95" flex-sm="95" layout-padding>
        <span class="md-title criteria">Ratings</span>
        <!--         <img ng-src="https://placeimg.com/1000/2000/tech"> -->
      </div>
    </div>
    <div flex layout="row" layout-wrap>
      <div flex flex-md="95" flex-sm="95" layout-padding>
        <span class="md-title criteria">Pros</span>
        <img ng-src="https://placeimg.com/1000/2000/arch/grayscale">
      </div>
      <div flex flex-md="95" flex-sm="95" layout-padding>
        <span class="md-title criteria">Cons</span>
        <img ng-src="https://placeimg.com/1000/1800/nature/grayscale">
      </div>
      <div flex flex-md="95" flex-sm="95" layout-padding>
        <span class="md-title criteria">Bonus</span>
        <img ng-src="https://placeimg.com/1000/1200/people/grayscale">
      </div>
    </div>
    <div flex layout="row" layout-wrap>
      <md-card flex flex-md="95" flex-sm="95" layout-padding>
        <div flex="100">
          <span class="md-title">All Criteria</span>
        </div>
        <md-card-content>
          <img ng-src="https://placeimg.com/1000/1000/animals">
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
