<md-bottom-sheet class="md-grid">
  <md-list layout="row" layout-align="end center" ng-controller="bottomFabCtrl">
    <md-item>
      <md-item-content>
        <md-button class="md-grid-item-content md-right" ui-sref="profile" if-user ng-click="listItemClick($index)">
          <md-icon md-svg-src="assets/images/ic_assignment_ind_black_24px.svg"></md-icon>
          <div class="md-grid-text">Profile</div>
        </md-button>
        <md-button class="md-grid-item-content md-right" ui-sref="register" if-not-user ng-click="listItemClick($index)">
          <md-icon md-svg-src="assets/images/ic_assignment_turned_in_black_24px.svg"></md-icon>
          <div class="md-grid-text">Register</div>
        </md-button>
        <md-button class="md-grid-item-content md-right" ui-sref="login" if-not-user ng-click="listItemClick($index)">
          <md-icon md-svg-src="assets/images/ic_open_in_browser_black_24px.svg"></md-icon>
          <div class="md-grid-text">Login</div>
        </md-button>
        <md-button class="md-grid-item-content md-right" ui-sref="admin" ng-click="listItemClick($index)" if-user-in-group="'Admins'">
          <md-icon md-svg-src="assets/images/ic_local_pizza_black_24px.svg"></md-icon>
          <div class="md-grid-text">Admin</div>
        </md-button>
        <md-button class="md-grid-item-content md-right" ui-sref="main" sp-logout if-user ng-click="listItemClick($index)">
          <md-icon md-svg-src="assets/images/ic_close_in_browser_black_24px.svg"></md-icon>
          <div class="md-grid-text">Logout</div>
        </md-button>
      </md-item-content>
    </md-item>
  </md-list>
</md-bottom-sheet>
