<div flex layout="column">
  <h2 class="criteria" ng-show="verifying">We are verifying this link</h2>
  <h2 class="criteria" ng-show="reset">Your new password has been set. Please <a ui-sref=login>Login Now</a>.</h2>
  <h2 class="criteria" ng-show="showVerificationError">This password reset link is not valid. You may request another link by <a ui-sref=passwordResetRequest>clicking here</a>.</h2>
  <form class="form-horizontal" ng-show="verified && !reset" ng-submit="submit()">
    <md-card flex>
      <md-card-content>
        <md-input-container>
          <label for="spEmail" class="control-label">New Password</label>
          <input class="form-control" id="spUsername" ng-model="formModel.password" placeholder="New Password" type="password" required name="Password" ng-disabled="posting">
        </md-input-container>
        <md-input-container>
          <label for=spEmail class="col-xs-12 col-sm-4 control-label">Confirm New Password</label>
          <input class="form-control" id="spUsername" ng-model="formModel.confirmPassword" placeholder="Confirm New Password" type="password" required name="Password" ng-disabled="posting">
        </md-input-container>
        <p class="md-caption" style="color:red" ng-show="error" ng-bind="error"></p>
        <button type="submit" class="md-button md-default-theme md-accent md-raised" ng-disabled="posting">Set New Password</button>
      </md-card-content>
    </md-card>
  </form>
</div>
